# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=https://restylee-assignment-61ky.vercel.app/

# Upload Configuration
MAX_FILE_SIZE=5242880
MAX_IMAGES_PER_PRODUCT=5
UPLOAD_DIR=uploads/products

# Image Validation
ALLOWED_FORMATS=jpg,jpeg,png
MIN_IMAGE_DIMENSIONS=200x200
